<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Fortune Teller
  </title>
</head>
  <body>
  <h2>Welcome {{user
    
    }}!</h2>
    <ul>
      {% if user %}
      <h1>{{user}}</h1>
    {% endif %}
    </ul>

    <!--comment>display fortune if one is provided<!--/comment-->
{% if fortune %}
        <h1>Your fortune is {{ fortune }}</h1>
    {% endif %}
    
    <form action="/fortune" method="POST" >
    <input type="text" name="user">
    <select name="color">
        <option>blue</option>
        <option>purple</option>
        <option>yellow</option>
        <option>orange</option>
    </select>
    <select name="number">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <button>submit</button>
</form>
  </body>
  
</html>